{% extends 'blog/servicio.html' %}

{% block content %}
    <div class="col-12" >
    <h1 style="margin: auto;" >Contacto <spam style="color: red;">Clinica Huesitos</spam></h1>
    </div>
    <div class="col-12 col-md-8" style="padding: 0; background-color: rgb(124,222,174);margin-bottom: 50px;">
        <h2 style="width: 50%;">contacto</h2>
        <form method="POST" class="post-form">{% csrf_token %}
            <div class="row">
            <div class="col-12 col-md-6 formulario">
                <h4>Rut</h4>
                {{ form.Rut }}
            </div> 
            <div class="col-12 col-md-6  formulario">
                    <h4>Nombres</h4>
                    {{ form.Nombres }}
            </div>
             
            <div class="col-12 col-md-6  formulario">
                <h4>Apellidos</h4>
                {{ form.Apellidos }}
            </div>
            <div class="col-12 col-md-6  formulario">
                    <h4>Correo</h4>
                    {{ form.Correo }}
            </div>
                
            <div class="col-12 col-md-6  formulario">
                <h4>Telefono</h4>
                {{ form.Telefono }}
            </div>
            <div class="col-12 formulario">
                <h4>Asunto</h4>
                {{ form.Asunto }}
            </div>

        </div>
            
            <div style="margin: 25px;">
                <input style="background-color: red;height: 50px; width: 80%;"  type="submit" class="save btn btn-default"  title="enviar">
            </div>  
        </form>
    </div>
            <div class="col-12 col-md-4" style="background-color: blue;margin-bottom: 50px;">
                <h4 style="text-align: center;">Acerca de Nosotros</h4>
                <ul>
                    <li><i class="fas fa-map-marker-alt"></i> Antonio Varas 666, Providencia</li>
                    <li><i class="fa fa-mobile"></i> +(569) 90286657</li>
                    <li><i class="fa fa-envelope"></i> contacto@ClinicaHuesitos.com</li>
                </ul>
                <p>nosotros queremos a tus mascotas por eso tenemos planes para todo tipo de personas con profesionales experimentados y calificados <br>visitanos en Antonio Varas 666</p>
                <p>ClinicaHuesitos.cl</p>
               
            </div>

            
            
            
        
    
{% endblock %}
