.header {
    position: sticky;
    
    top: 0;
    background-color:rgb(124,222,174);
    height:auto;
    z-index: 20;
    padding: 0;
   
    
}
body{
    padding: 0;
    margin: 0;
    font-family: Verdana,sans-serif;
}
.web{
    width: 40px;
    height: 40px;
}

ul { 
    text-align: center;
    position: relative;
    list-style-type: none;
    margin: auto;
    padding: 0;
      
}

li {
   
    text-align: center;
    padding: 10px 15px;
    font-size: 15px;
    
  
}

.menu{
    display: inline-block;
}
@media only screen and (max-width: 768px){
    .menu{
        display: block;
    }
}


li:hover{
    background-color: rgb(212,245,255);
    border-radius: 10px;
    
}


a{ 
    text-align: center !important;
    color: black !important;
    text-decoration: none !important;
}
.footer {
  position: relative;
  background-color: rgb(124,222,174);
  color: white;
  text-align: center;
  font-size: 20;
  padding: 0px;
}


.info{
    background-color:rgb(124,222,174);
    height: auto;
    text-align: center;
    position: relative;
    margin: 30px auto;
}

.pinfo{
    color: black;
    margin: auto;
    padding: 20px 0;
    font-size: 15px;
}
.plan{
    background-color: rgb(124,222,174);
    overflow: hidden;
    color:rgb(124,222,174);
    margin: 30px 50px;
    padding: 20px;
    text-align: center; 
    height: 100px;
    transition: 4s;
    transition-delay: 0s;
    border-radius: 20px;
}
@media only screen and (max-width: 768px){
    .plan{
        margin:30px auto;
    }
}

.plan:hover{
    color:black;
    height: 300px;
    
}


.row{
    margin: 0;
}
@media only screen and (min-width: 576px){
    #menu{
        display: none;
    }
}

@media only screen and (max-width: 576px){
    #menu{
        display: block;
    }
}
#menu:target{
    display: block;
}
form input{
    background-color:rgb(124,222,174) ;
    border: 1px solid red;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 80%;
}

form textarea{
    margin: 0 ,auto;
    height: 40px;
    width: 90%;
    background-color:rgb(124,222,174) ;
    border: 1px solid red;
    border-top: none;
    border-left: none;
    border-right: none;
}
:focus {
    outline: -webkit-focus-ring-color auto 0px!important;
}
.formulario{
    margin-top: 20px;
    padding: 0;
    text-align: center;
}
.subir{
    position: relative;
    animation: mymove 0.5s ;
}
@keyframes mymove {
    from {top: 200px;}
    to {top: 0px;}
  }











